#rainfall {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    height: 100%;
    flex-wrap: wrap;
}
#rainfall table, #rainfall tr, #rainfall td {
    border: 1px solid black;
    border-collapse: collapse
}
#rainfall td{
    width: 75px;
    height: 75px;
    text-align:center;
}
#onweer, #regen {
    width: 50px;
    height: 50px;

}
#paraplu {
    width: 100%;
    height: 100%;
}

#links, #rechts {
    width: 70px;
    height: 70px;
    margin-bottom:0px;
}
#links, #rechts {

}