#operations {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
}
#invoer {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#invoer div {
    margin: 0 20px;
}
#operations table {
    text-align: center;
    margin-top: 30px;
    
}
#operations td {
    width: 125px;
    height: 125px;
}
#operations button {
    width: 125px;
    height: 125px;
    border-radius: 10%;
    background-color: #33ccff;
}