#deception {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
#deception #boven button, #deception #midden button {
    width: 150px;
    height: 150px;
    margin: 10px;
    font-size: 2em;
}
#deception #onder {
    font-size: 0.6em;
}