#concentration #kaartsetB, #concentration #kaartsetO {
    display:flex;
    flex-direction: row;;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    height: 100%;
}
#concentration .kaart {
    width: 100px;
    height: 150px;
    margin: 10px;
    background-color:#a4e6fc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
#concentration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
